<p id="notice"><%= notice %></p>

<div class="products col-md-offset-3 col-md-6">

  <h1>Leboncoin Products</h1>

  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <div class="product">
          <%=link_to (image_tag(product.image, size: "24")), create_product_cart_path(product_id: product), method: :post %>
          <h3><%= product.title %></h3>
          <%= sanitize(product.description) %>
          <div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'Add to Cart', create_product_cart_path(product_id: product.id)%>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="link_to_cart">
    <% unless @cart.nil? %>
      <%= link_to 'Cart', @cart %>
    <% end %>
  </div>

</div>
